@import "vendor/bootstrap/bootstrap";

// colors
.blue1{
    background: #3498db;
    transition: 0.15s ease;
}

.blue2{
    background: #2980b9;
}

.orange1{
    background: #e67e22;
}

.orange2{
    background: #d35400;
}


body{
    font-family: 'Quattrocento Sans', sans-serif;
}

header{
    padding: 20px;
}

.sample-container{
    margin: 10px;
    text-align: center;
    padding: 30px;
    height: 200px;
    width: 200px;
    display: table;
}

.sample1{
    .menu{
        margin: 0 auto;
        width: 80px;
        cursor: pointer;
        span{
            background: #FFF;
            display: block;
            height: 7px;
            width: 100%;
            margin: 15px 0;
            transition: 0.15s ease;
        }
    }
    .menu:hover{
        span:nth-child(1){
            transform: rotate(-45deg) translate(-10px, 0px);
            width: 50%;
        }
        span:nth-child(3){
            transform: rotate(45deg) translate(-10px, 0);
            width: 50%;
          }
    }
}

.sample2{
    .circle{
        border-radius: 50%;
        border: 7px solid #FFF;
        height: 100px;
        width: 100px;
        margin: 0 auto;
        cursor: pointer;
        position: relative;
        left: 22%;
        right: 25%;
        text-align: center;
        transition: 0.15s ease;
        span{
            background: #FFF;
            display: block;
            height: 7px;
            width: 50px;
            margin: 15px auto;
            transition: 0.15s ease;
        }
        span:nth-child(1){
            transform: rotate(-45deg) translate(-8px, 8px);
        }
        span:nth-child(2){
            transform: rotate(45deg) translate(-8px, -8px);
        }
    }
    .circle:hover{
        transform: rotate(-45deg);
        border: 1px solid rgba(255, 255, 255, 0.25);
    }
}