// colors
.blue1{
    background: #007aff;
    transition: 0.15s ease;
}

.orange1{
    background: #ff9500;
}

.violet1{
    background: #5856d6;
}

.red1{
    background: #ff3b30;
}

.green1{
    background: #4cd964;
}

.yellow{
    background: #ffcc00;
}